.idea
.venv
config.local.yaml
pyproject.toml
uv.lock
Models
project_struct.txt
Tools/benchmark/result
Tools/benchmark/yolov8n.pt
Tools/benchmark/coco128.yaml
Tools/benchmark/input.mp4
DataLayer/known_faces.pkl
Tools/benchmark/yolov8n_ov_*
Data